@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700&display=swap');

:root {
    --clr-primary:hsl(213, 96%, 18%);
    --clr-secondary:hsl(243, 100%, 62%);

    --clr-indicator:hsl(206, 94%, 87%);
    --clr-text-secondary:hsl(228, 100%, 84%);
    --clr-text-error:hsl(354, 84%, 57%);

    --clr-primary-bg:hsl(0, 0%, 100%);
    --clr-primary-bd-bg:hsl(217, 100%, 97%);
    --clr-primary-grey:hsl(231, 11%, 63%);
    --clr-secondary-grey:hsl(229, 24%, 87%);
    --clr-tertiory-alaba:hsl(231, 100%, 99%);

    --fs-primary:16px;
}

/* CSS reset section */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Ubuntu", sans-serif;
  /* overflow: hidden; */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Default template */
.hidden {
  display: none;
}
button{
  cursor: pointer;
}
body{
    background-color:var(--clr-primary-bd-bg);
    height: 100vh;
}
/* styling sidebar */
.sidebar{
  background-image: url('./assets/images/bg-sidebar-mobile.svg');
  height: 28.9vh;
  display: flex;
  justify-content: center;
  gap: 1rem;
  z-index: -1;
}
.step-id{
  background: none;
  color: var(--clr-primary-bg);
  border: 1px solid var(--clr-primary-bg);
  margin:2rem 0rem;

  aspect-ratio: 1 / 1;
  width: 2rem;
  border-radius: 50%;
  font-weight: 700;
}
.indicator{
  background-color: var(--clr-indicator);
  color: var(--clr-primary);
  border: none;
}
/* styling main */
h1{
  color:var(--clr-primary) ;
  font-size: 22px;
  font-weight: 700;
}
.steps{
    z-index: 1;
    background-color:var(--clr-primary-bg) ;
    width: 93vw;
    padding: 1rem 1.5rem 1rem;
    border-radius: 0.7rem;
    position: absolute;
    top: 98px;
    left: 3.5%;
}

/* step one styling */
.step-intro{
  color: var(--clr-primary-grey);
  width: 80%;
  line-height: 1;
  margin: 5px 0 10px;
}
form{
  display: flex;
  flex-direction: column;
  margin: 20px 0 5px;
}
label{
  color: var(--clr-primary);
  font-size: 14px;
  font-weight: 500;
}
.error{
  color: var(--clr-text-error);
  font-weight: 700;
  font-size: 12px;
  position: relative;
  right: -27%;
}
.error-1{
  right: -47%;
}
.error-2{
  right: -29%;
}
input{
  border:1px solid var(--clr-secondary-grey);
  border-radius: 5px;
  padding: 0.7rem 1rem;
  font-weight: 500;
  margin-bottom: 12px;
  color: var(--clr-primary);
}
input:focus{
  border: 1px solid var(--clr-primary);
  outline: none;
}
::placeholder{
  color: var(--clr-primary-grey);
}

/* step two styling */
.step-two{
  padding: 0.5rem 1rem;
}
.card{
  display: flex;
  cursor: pointer;
  gap: 1rem;
  border: 1px solid var(--clr-secondary-grey);
  border-radius: 5px;
  padding: 0.8rem 1rem;
  margin-bottom: 8px;
}
.card:hover{
  border: 1px solid var(--clr-primary);
}
.card:focus{
  border: 1px solid var(--clr-primary);
  background-color:hsla(228, 100%, 84%, 0.541) ;
}
h2{
  font-size: 1rem;
}
.rate{
  font-size: 14px;
  color: var(--clr-primary-grey);
  font-weight: 500;
  margin-top: 4px;
}
.free{
  font-size: 14px;
  color: var(--clr-secondary);
  font-weight: 700;
}
.plan{
  background-color: var(--clr-primary-bd-bg);
  padding: 6px;
  border-radius: 5px;
  color: var(--clr-primary-grey);
  font-weight: 700;
  font-size: 16px;

  display: flex;
  justify-content: center;
  gap: 16px;
  
}


/* step three styling */

/* syling footer */
.pg-control{
    position: absolute;
    background-color: var(--clr-primary-bg);
    bottom: 0%;
    width: 100vw;
    height: 60px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}
.next{
    align-self: flex-end;
    color: var(--clr-primary-bg);
    border: none;
    background-color: var(--clr-primary);
    padding: 6px 10px;
    margin: 15px;
    border-radius: 5px;
}
.next:hover{
  background-color: hsla(213, 79%, 21%, 0.904);
}
.back{
  font-weight: 500;
  align-self: flex-end;
  border: none;
  color: var(--clr-primary-grey);
  background-color: var(--clr-primary-bg);
  padding: 6px 10px;
  margin: 20px;
}
.back:hover , .back:focus-visible{
  color: var(--clr-secondary);
}
.confirm{
  align-self: flex-end;
    color: var(--clr-primary-bg);
    border: none;
    background-color: var(--clr-primary);
    padding: 6px 10px;
    margin: 15px;
    border-radius: 5px;
}
.confirm:hover{
  background-color: hsla(213, 79%, 21%, 0.904);
}
@media (max-width:375px){
  .mobile-hidden{
    display: none;
  }
}
@media (min-width:376px) {

}